.fn-slideshow.section .slideshow {
  min-height: max(100vh, 600px);
}
@media screen and (max-width: 749px) {
  .fn-slideshow .banner__content.banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }
  .fn-slideshow .banner__box {
    padding: 8rem 1.5rem;
  }
}
.fn-slideshow .slideshow__controls.slider-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  border: 0;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
  background-color: transparent;
}
@media screen and (min-width: 750px) {
  .fn-slideshow .slideshow__controls.slider-buttons {
    padding: 0 5rem;
    margin-bottom: 1.5rem;
  }
}
.fn-slideshow .slider-button,
.fn-slideshow .slider-button .svg-wrapper,
.fn-slideshow .slider-button .icon.icon-fn-arrow {
  width: 5.4rem;
  height: 5.4rem;
  transition: transform 0.3s ease;
  color: rgb(var(--color-background));
}
@media screen and (min-width: 750px) {
  .fn-slideshow .slider-button .svg-wrapper {
    margin-bottom: 4rem;
  }
}
